<launch> 

	<!-- Remote PC Launch file -->
	
    <!-- GAZEBO 
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/> 
    <include file="$(find two_wheels_description)/launch/spawn.launch"/> 
	-->

    <!-- JOY TWIST -->
	<include file="$(find teleop_twist_joy)/launch/teleop.launch"/> 	

    
    <!--
    <node pkg="beginner_tutorials" type="menu.py" name="menu"/> 
    -->

    

</launch> 
